<div class="block">
    <h3>YouTube Auto-Browser</h3>
    <div class="block">
        <button (click)="start()">Start Browsing</button>
        <button (click)="stop()">Stop Browsing</button>    
    </div>
    <div class="block">
        <button class="square" (click)="play()">
            <i class="fa fa-play"></i>
        </button>
        <button class="square" (click)="pause()">
            <i class="fa fa-pause"></i>
        </button>
        <button class="square" (click)="next()">
            <i class="fa fa-step-forward"></i>
        </button>
        <button class="square" (click)="prev()">
            <i class="fa fa-step-backward"></i>
        </button>
        <button class="square" (click)="toggleFullscreen()">
            <i class="fa fa-expand"></i>
        </button>
    </div>
    <div class="block">
        <h4>Recognition:</h4>
    </div>
</div>