<div class="block">
  <select name="nodes" id="nodes">
    <option *ngFor="let node of nodes">
      {{node.title}} {{node.internalIP}}
    </option>
  </select>
  <h3>Current Default Camera (if present)</h3>
  <video #inputVideo style="min-width: 320px;"></video>
  <button (click)="startInput()" [disabled]="!inputVideoEnabled">
    <i class="fa fa-play"></i>
  </button>
  <button (click)="pauseInput()" [disabled]="!inputVideoEnabled">
    <i class="fa fa-pause"></i>
  </button>
  <button (click)="stopInput()" [disabled]="!inputVideoEnabled">
    <i class="fa fa-stop"></i>
  </button>
  <button (click)="captureOnce()">
    <i class="fa fa-camera"></i>
  </button>
  <canvas #inputVideoCanvas></canvas>
</div>
