<div class="xor-component block">
  <label for="xor-mode">
    Decrypt:
    <input id="xor-mode" type="checkbox" [(ngModel)]="inDecryptMode" (change)="inDecryptModeChecked()"/>
  </label>
  <input type="text" [placeholder]="placeholderA" [(ngModel)]="valueA" (ngModelChange)="somethingChanged($event)"/>
  <input type="text" [placeholder]="placeholderB" [(ngModel)]="valueB" (ngModelChange)="somethingChanged($event)" />
  <input type="text" [placeholder]="placeholderC" [(ngModel)]="valueC" (ngModelChange)="somethingChanged($event)" />
</div>
