<div class="cli">
  <span class="cli-toggle" (click)="toggleCli()">
    {{collapsed ? '/' : '_'}}
  </span>
  <div [className]="collapsed ? 'cli-body cli-body__collapsed' : 'cli-body'">
    This is just a text to show how it should look like.
    Some system info, weather, todos, agenda etc. could be displayed here.
    <p *ngFor="let text of output">{{text}}</p>
    <form>
      <input [autofocus]="true" name="input" id="input" type="text" [(ngModel)]="input" [ngModelOptions]="{updateOn: 'submit'}"  (ngModelChange)="onCommandChar($event)">
    </form>
  </div>
</div>
